.modelResearchBackground{
    background-size: cover;
    background-image: url("./ModelResearchBackground.jpg");
}

.modelResearchHeader{
    color: white;
    padding-right: 35%;
    padding-left: 42%;
}

.ModelsFeed{
    display: flex;
    flex-direction: row;
    color: white;
}

.modelsAFeed{
    background-color: whitesmoke;
    margin-left: 10%;
    padding-left: 0%;
    padding-right: 3%;
    width: 30%;
    border: medium solid rgb(70, 69, 69);
}

.modelsBFeed{
    background-color: whitesmoke;
    margin-left: 20%;
    padding-left: 0%;
    width: 30%;
    border: medium solid rgb(70, 69, 69);
}

.trStyle{
    color: black;
    background-color: whitesmoke;
    border: medium solid black;
}

.searchBars{
    display:flex;
    flex-direction: column;
}

.searchBarA{
    width: 100%;
    height: 5%;
    margin-left: 15%;
    color: white;
}

.searchBarB{
    width: 20%;
    height: 5%;
    margin-left: 65%;
    color: white;
}

.columnOne{
    border: solid black thick;
    text-align: left;
}
.columnTwo{
    background-color: rgb(238, 158, 158);
}

.footer{
    padding-top: 0%;
}

.commentBar{
    margin-top: 2%;
    color: white;
}

.modelA{
    color: white;
}

.modelB{
    color: white;
}
