.tradehallBackgroundImg{
    background-size: cover;
    background-image: url("./TradehallBackground.jpg");
}

.tradehallMainFeed{
    color: white;
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 100%;
}

.tableHeader{
    color: rgb(251, 255, 4);
    padding-left: 45%;
    padding-bottom: 4%;
}

.tradehallHeader{
    color: rgb(251, 255, 4);
    padding-top: 3%;
    padding-left: 44%;

}

.trSpacer{
    background: red;
    padding-left: 3%;
    padding-bottom: 4%;
    
}

.column{

}
