.tradehallBackgroundImg{
    background-size: cover;
    background-image: url("./TradehallBackground.jpg");
}

.tradehallMainFeed{
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    height: 100%;
}

.tableHeader{
    color: rgb(251, 255, 4);
    padding-left: 45%;
    padding-bottom: 4%;
}

.mainFeedRows{
    background: red;
    border-radius: 50px;
    padding-left: 3%;
    padding-bottom: 1%;
}

.tradehallHeader{
    color: rgb(251, 255, 4);
    padding-top: 3%;
    padding-left: 44%;

}

.trSpacer{
    padding-bottom: 4%;
}