.profileBackground{
    background-size: cover;
    background-image: url("./Profile\ 2.jpg"); 
}

.userAvatar{
    
    background-size: cover;
    background-image: url("./Default.png");
    width: 20%;
    height: 32%;
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top: 20%;
    object-fit: cover;
    border: 3px solid rgb(14, 13, 13);
}

.editProfile{
    margin-top: 40%;
    color: white;
}

.homeLink{
    position: relative;
    top: 300px;
}

.profileFeed{
    margin-top: 20%;
    margin-left: 50%;
}

.profilePageHeader{
    margin-left: 42%;
}

.messagesPosition{
    background-color: gray;
    color: white;
    margin-left: 30%;
    margin-top: 10%;
}

.friendsPosition{
    background-color:gray;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

.friendsTableBody{
    background-color: white;
    color: black;
}

.messageInputPosition{
    right: 40%;
}

.messenger{
    margin-top: 10%;
}