.profileBackground{
    background-size: cover;
    background-image: url("./Profile\ 2.jpg"); 
}

.userAvatar{
    
    background-size: cover;
    background-image: url("./Default.png");
    width: 20%;
    height: 32%;
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top: 20%;
    object-fit: cover;
    border: 3px solid rgb(14, 13, 13);
}

.editProfileDiv{
    background-color: rgb(105, 29, 19);
    border-radius: 24px;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    text-align: end;
    padding-right: 10%;
}

.editProfile{
    margin-top: 40%;
    color: white;
}

.homeLink{
    position: relative;
    top: 300px;
}

.profileFeed{
    margin-top: 20%;
    margin-left: 50%;
}

.profilePageHeader{
    margin-left: 42%;
}

.messagesPosition{
    background-color: gray;
    color: white;
    margin-left: 30%;
    margin-top: 10%;
}

.friendsDisplay{
    background-color: rgb(57, 112, 60);
    width: 25%;
    border-radius: 24px;
    margin-left: 70%;
}

.friendsPosition{
    background-color:gray;
    color: white;
    margin-left: 8%;
    margin-top: 5%;
}

.friendsTableBody{
    background-color: white;
    color: black;
}

.pendingFriendsTableBody{
    background-color: white;
    color: black;
    margin-left: 3%;
}

.messageInputPosition{
    right: 40%;
}

.footer{
    margin-top: 10%;
}