.logoutButton{
    width: 30px;
    height: 20px;
    border-radius: 30px;
    background-color: grey;
    margin-left: 8%;
}

.buttonProperties{
    font-size: medium;
    margin-left: 5%;
    color: rgb(39, 39, 44);
}

.navBarBackground{
    background-color: rgb(219, 200, 91);
    border-radius: 36px;
    border: 5px solid black;
}
